@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

:focus {
    outline: 2px solid #f59e0b;
}
.social-icon {
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    color: #f59e0b; /* Change la couleur sur le survol */
} 
body {
    font-family: 'Roboto', sans-serif;
}



